/* General form stylings */
.input-group, .form-group
	margin: 10px 20px
	overflow: hidden

//Input styles
.form-control
	padding: 20px
	background: #fff
	border: 1px solid #e5d4c2
	border-radius: $border-radius
	outline: none

/* Removes yellow background on Chrome auto-completed items */
input:-webkit-autofill
	-webkit-box-shadow: 0 0 0 1000px white inset
