/* Project Card stylings */
.projectCard
	@extend .module
	+display(flex)
	+flex-direction(column)
	padding: 10px

.projectCard__header
	+flex(1)
	width: 100%
	min-height: 175px
	background-position: center center

.projectCard__footer
	+flex(1)